; = Internal timer in ms
[settings]
# Not sure this timer has any use these days, apparently it was used for an old version of CSBwin when the linux version could become very slow...
# The speed menu doesn't control the speed using this
timer = 10
fullscreen = 0
# window width and height, a good default for most modern screens x4 size (1280x800).
width = 1280
height = 800
# This is the last size of the window before going fullscreen. Usefull in case settings are saved in fullscreen mode to allow to retrieve the last window size in next session
winx = 1280
winy = 1280
# gameSpeed : 4 is normal
gameSpeed = 4
show_coords = 0
# projectile_dmg_divider: 16 is the default, don't put 0 here or don't complain!
projectile_dmg_divider = 16
monsters_vulnerable_on_attack = 0
nostalgia_mode = 0

[keys]
; = key translations
; =
; = scan  <PC scan code>    <ATARI key code>
; = mscan <PC VirtualKey>   <mouseX> <mouseY> <R/L>
; =
; = *******   IMPORTANT  NOTE   *********
; =
; = !!!  Every number in this file is hexadecimal !!!!!
; =
; =
; = Scan codes are processed in OnKeyDown.
; = Generally this is used to process non-ascii keys.
; = Key codes are processed by OnChar.
; = ASCII codes are generally specified here.
; = mscan codes are used to translate keypresses to
; = equivalent mouse clicks.  The x- and y-coordinates
; = are relative to the entire 320 by 200 screen.  The
; = R or L is used to designate which mouse button is
; = pressed.
; =
; =
; = escape = Freeze Game
scan01 = 29 1b
; =
; = 'k' = move forward
scan02 = e 480000
; = Keypad '8' = move forward
scan03 = 60 480000
; =
; = 'l' = turn right
scan04 = f 470000
; = Keypad '9' = turn right
scan05 = 61 470000
; =
; = 'j' = turn left
scan06 = d 520000
; = Keypad '7' = turn left
scan07 = 5f 520000
; =
; = '.' = move right
scan08 = 36 4d0000
; = Keypad '6' = move right
scan09 = 5e 4d0000
; =
; = 'm' = move left
scan10 = 11 4b0000
; = Keypad '4' = move left
scan11 = 5c 4b0000
; =
; = ',' = move backward
scan12 = 10 500000
; = Keypad '5' = move backward
scan13 = 5d 500000
; =
; = SDL 'q' = character 1 weapon / first attack
mscan01 = 14 f0 5c L
; = SDL 'w' = character 2 weapon / first attack
mscan02 = 1a 104 5c L
; = SDL 'e' = character 3 weapon / first attack
mscan03 = 8 11c 5c L
; = SDL 'r' = character 4 weapon / first attack
mscan04 = 15 138 5c L
; = SDL 'a' = character 1 weapon / second attack
mscan05 = 4 f0 68 L
; = SDL 's' = character 2 weapon / second attack
mscan06 = 16 104 68 L
; = SDL 'd' = character 3 weapon / second attack
mscan07 = 7 11c 68 L
; = SDL 'f' = character 4 weapon / second attack
mscan08 = 9 138 68 L
; = SDL 'z' = character 1 weapon / third attack
mscan09 = 1d f0 74 L
; = SDL 'x' = character 2 weapon / third attack
mscan10 = 1b 104 74 L
; = SDL 'c' = character 3 weapon / third attack
mscan11 = 6 11c 74 L
; = SDL 'v' = character 4 weapon / third attack
mscan12 = 19 138 74 L
; = '1' = first rune
mscan13 = 1e f0 37 L
; = '2' = second rune
mscan14 = 1f fe 37 L
; = '3' = third rune
mscan15 = 20 10a 37 L
; = '4' = fourth rune
mscan16 = 21 11d 37 L
; = '5' = fifth rune
mscan17 = 22 128 37 L
; = '6' = sixth rune
mscan18 = 23 136 37 L
; = SDLK_BACKSPACE  ;'~' = backspace rune
mscan19 = 2a 136 43 L
; = space = cast spell
mscan20 = 2c 10d 41 L
;mscan = 0020 064 64 R  ; space = leader's inventory
; = SDL F1  = first magic caster
mscan21 = 3a 200 2e L
; = SDL F2  = second magic caster
mscan22 = 3b 201 2e L
; = SDL F3  = third magic caster
mscan23 = 3c 202 2e L
; = SDL F4  = forth magic caster
mscan24 = 3d 203 2e L
; = Shift = No operation
mscan25 = e1 114 2f L
; = TAB = Pass (Cancel Attack)
mscan26 = 2b 131 50 L
; =
; = SDL KP0 = 	pick up left near	 67.157
mscan27 = 62 43 9d L
; = SDL delete =      -""-
mscan28 = 7f 43 9d L
; = SDL KP_comma = pick up right near	154.159
mscan29 = 63 9a 9f L
; = SDL pgdown =      -""-
mscan30 = 4e 9a 9f L
; = SDL KP1 = 	pick up left far	 77.140
mscan31 = 59 4d 8c L
; = SDL insert =      -""-
mscan32 = 49 4d 8c L
; = SDL KP2 = 	pick up alcove		107.115
mscan33 = 5a 6b 73 L
; = SDL home =        -""-
mscan34 = 4a 6b 73 L
; = SDL KP3 = 	pick up right far	150.140
mscan35 = 5b 96 8c L
; = SDL pgup =        -""-
mscan36 = 4b 96 8c L
; = SDL KP_plus = door switch		169.81
mscan37 = 57 a9 51 L
;mscan = 012c  59  50 L  ; SDL KP_numlck = throw left		89.80
; = SDL KP_div = 	throw left, key locks, etc		108.75 111.80
mscan38 = 54 6f 50 L
; = SDL KP_* = 	throw right		147.79
mscan39 = 55 93 4f L
; =
